.demo-block.demo-button {
  .ven-row {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .ven-button + .ven-button {
    margin-left: 10px;
  }
  .ven-button-group {
    .ven-button + .ven-button {
      margin-left: 0;
    }

    & + .ven-button-group {
      margin-left: 10px;
    }
  }
}
